### Ignore Intellij idea Folder ###
.idea
.idea/
.idea/drawingML.iml
.idea/misc.xml
.idea/workspace.xml
project/.idea


###Ignore virtual Environment
venv

### Ingnoring savedImgages from Testing ###
project/templates/savedImages/*
project/logs/scalars/*
