body{
    font-family: sans-serif;
}

#accordion{
    width: 96%;
    margin: 0 auto;
}


#learnCardWrapper{
    width: 96%;
    margin: 1% auto 0% auto;
    overflow: auto;
}

#headline{
    margin-bottom: 3%;
    margin-top: 2%;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.secHeadline{
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 1;
}

.accHeader{
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    border: 1px solid #2196F3;
    font-size: 16pt !important;
}

.ui-state-active{
    background: #403b3b !important;
}

.rightBar,.wrongBar,.testedValue{
    margin: 0;   
    display: inline-block;
    
}

.rightBar,.wrongBar{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13pt;
    text-align: center;
    min-width: 8%;
    max-width: 81%;
}


.rightBar{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    /*background-color:#1c721c;*/
    background-position: right bottom;
    background: linear-gradient(to right, #1c721c 50%, white 49.9%);
    transition-duration: 1.5s;
    background-size: 200% 100%;
}

.wrongBar{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    /*background-color: #972828;*/
    background-position: right bottom;
    background: linear-gradient(to right, #972828 49.9%, white 49.9%);
    transition-duration: 1.5s;
    background-size: 200% 100%;
}



.testedValue{
    width: 18%;
    padding-right: 1%;
    font-size: 12pt;
}

.resultWrapper{
    margin-bottom: 6px;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    padding-top: 5px;
}

.ui-accordion-content{
    border: none !important;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset !important;
    background-color: white !important;
    border-radius: 30px;
    margin: 15px;
}


#back_button,#endTraining,#redoTraining{
    background-color: #414141;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#back_button:hover,#endTraining:hover,#redoTraining:hover{
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}


.dataCards{
    margin-right: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease-out;
}

.dataCards:hover{
    background: #a2a3a5;
}

.createNewPlan{
    display: none;
    margin-top: 1%;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
    background-color: white;
    padding: 30px;
    font-size: 15pt;
    border-radius: 10px;
}

.createNewBtn{
    border: none;
    background: white;
    border-radius: 2px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.createNewBtn:hover{
    color: white;
    background-color: #56af46;
}

.createdPlan{
    padding: 2%;
    max-width: 99%;
    width: fit-content;
    overflow: auto;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
    background-color: white;
    padding: 10px;
    font-size: 15pt;
    border-radius: 10px;
}

.innerPlanElem{
    margin-right: 10px;
}

.existingPlans{
    margin-top: 3%;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    max-height: 200px;
    overflow: auto;
}

.existingPlans p{
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    margin: 10px;
    overflow: auto;
}

.learnplanCards{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-left: 10px;
    padding: 5px;
}

.delBtn{
    float: right;
    color:  black;
    cursor: pointer;
    transition: 0.2s;
}

.delBtn:hover{
    color: #d61414;
}

.datasets{
    margin-top: 1%;
    height: 60px;
}

.saveBtn{
    background-color: #414141;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-top: 2%;
}

.saveBtn:hover{
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}


.ui-tabs{
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    border: 1px solid #2196F3 !important;
}

.ui-widget-header{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: white;
    padding: 20px;
}


#allowSavingWrapper{
    width: fit-content;
    font-size: 16pt;
    float: right;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}





/*slider (checkbox) settings*/

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 28px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #17770f;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #17770f;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

  
  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s;
    top: 148%;
    right: 0%;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 1px solid black;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


  @media only screen and (max-width: 1050px) {
    #headline{
        font-size: 35px;
    }
    .secHeadline{
        font-size: 23px;
    }

    .existingPlans{
        font-size: 8pt;
    }

    .datasets{
        margin-bottom: 1%;
    }

    .dataCards{
        font-size: 10pt !important;
        margin: 3px;
    }
}

@media only screen and (max-width: 850px) {
    .datasets{
        margin-bottom: 10%;
    }
    .createdPlan{
        font-size: 13pt;
    }

    .saveBtn{
        margin-top: 5%;
    }
    
}

@media only screen and (max-width: 750px) {
    #headline{
        margin-top: 7%;
        margin-bottom: 7%;
    }

    #allowSavingWrapper{
        font-size: 10pt;
    }

    .switch{
        width: 43px;
        height: 14px;
      }
    
      .slider:before{
        height: 9px;
        width: 9px;
        left: 3px;
        bottom: 3px;
      }
}

@media only screen and (max-width: 550px) {
    .datasets{
        margin-bottom: 23%;
    }

    .saveBtn{
        margin-top: 9%;
        font-size: 14px !important;
    }

    .rightBar{
        width: 30% !important;
        margin-left: 16%;
    }

    .wrongBar{
        width: 30% !important;
    }

    .ui-accordion .ui-accordion-content{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 13px;
    }
}

@media only screen and (max-width: 455px) {
    .ui-tabs .ui-tabs-nav{
        font-size: 9pt;
    }
}


@media only screen and (max-width: 400px) {
    #headline{
        margin-top: 23%;
        margin-bottom: 12%;
    }

    #catName{
        font-size: 13px !important;
    }

    .createdPlan{
        font-size: 9pt;
    }

    .dataCards{
        font-size: 8pt !important;
        margin: 3px;
    }
}
  

@media only screen and (max-width: 400px) {
    .datasets{
        margin-bottom: 40%;
    }
}
  
  