/*general*/
body{
font-family: sans-serif;
background: #91a4ad;
}

/*drawingPage*/
 
 #canvas {
    cursor: crosshair;
 }

 /*settings*/

 #categoryWrapper{
    width: 60%;
    margin: 0 auto;
 }

 #userCircle{
  width: 40px;
  height: 40px;
}

#userWrapper{
  float: left;
  cursor: pointer;
}


#learningPlanSelection{
  display: none;
}

 #headline{
  margin-bottom: 4%;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
 }

 #logoutForm{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 10%;
  color: white;
 }

 #logoutForm input{
  background-color: #414141;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  float: right;
 }

 #logoutForm input:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#logoutForm p{
  text-align: center;
  margin-top: 5px;
}
 
 .content{
   width:100%;
   display: flex;
   justify-content: center;
 }

 #content2{
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  background-color: white;
  border-radius: 25px;
  padding: 50px;
  color: black;
  width: 60%;
  margin: 0 auto;
  font-size: 19pt;
  margin-top: 2%;
  font-weight: bold;
 }

 #categoryWrapper{
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  background-color: white;
  border-radius: 25px;
  padding: 50px;
 }

 .category{
   border: 1px solid black;
   font-size: 17pt;
   padding: 2px;
   width: 85%;
   margin: 14px auto;
   background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   font-weight: lighter;
   border: 1px solid #2196F3;
   border-width: 0px 3px 0px 3px;
   border-radius: 20px;
   transition: transform 0.5s, box-shadow 0.3s;
   cursor: pointer;
}

 .category:hover {
   transform: scale(1.05);
   box-shadow:
     inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
     inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
     /* multiple light sources yall */
     1px 1px 50px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
     10px 10px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
 }

 .category p{
   text-align: center;
   font-size: 19pt;
   color: white;
   font-weight: bold;
 }

 h1{
   text-align: center;
 }

 #startBtn{
    float: right;
    margin-right: 20px;
    margin-bottom: 5px;
    background: rgba(24, 136, 24);
    cursor: pointer;
    padding: 5px;
    font-size: 20pt;
    color: white;
    text-decoration: none;
    border: none;
    outline: 1px solid rgb(0 0 0);
    transition: all .7s;
    margin-top: 28px;
    overflow: hidden;
 }

 #startBtn:hover{
   text-shadow: 0 0 0px rgb(0 0 0);
    outline-color: rgba(0,0,0,0);
    outline-offset: 10px;
 }

 #startForm{
   width:50%;
   text-align: center;
 }

#playAudio{
  cursor: pointer;
}

#pieChart{
  width: 200px;
  height: 200px; 
}


/*slider (checkbox) settings*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #17770f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #17770f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

