<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="loginStyle.css">
        <link rel="stylesheet" href="background.css">
        <script>
            function focusLogin(){
                document.getElementById("username").focus();
            }
        </script>
    </head>
    <body class="area" >
        
        <h1 id="headline">Learning By Drawing</h1>
        <div id="content">
            <div class="imgcontainer">
                <img src="avatar5.png" alt="Avatar" class="avatar">
            </div>
            <div id="containerWrapper">
                <div class="container" id="formWrapper">
                    <form action="login_system/login_script.php" method="post">
                        <label for="uname"><b>Benutzername</b></label>
                        <input type="text" placeholder="Benutzername/E-mail eingeben..." id="username" name="mailuid" required>
                
                        <label for="psw"><b>Passwort</b></label>
                        <input type="password" placeholder="Passwort eingeben..." name="pwd" required>
                        
                        <button type="submit" name="login_submit">Login</button>
        
                        <div class="container" id="greyBar" style="background-color:#f1f1f1">
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                            <span id="register">Noch keinen Account? <a href="login_system/signup.php">Jetzt Registrieren</a></span>
                        </div>
                    </form>
                </div>
                <div class="container" id="welcomeContainer">
                    <h1>Willkommen bei</h1>
                    <h3>Learning By Drawing</h3>
                    <br>
                    <div id="h4Wrapper">
                        <h4 onclick="focusLogin()">Logged dich ein um Loszulegen!</h4>
                    </div>
                </div>
            </div>
        </div>

    
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
    
    </body>
</html>